.sec-company{
  padding: 120px 0 ;
  @include maq('tablet') {
    padding: 20px 0  100px;
  }
}
.company-title{
  margin-bottom: 50px;
}
.company-content{
  margin-top: 50px;
}
.company-column__bold{
  font-family: 'Open Sans', sans-serif;
  @include adaptiv-font(64, 56);
  font-weight: 600;
  line-height: .8;
}
.company-column__text{
  @include adaptiv-font(18, 16);
  font-weight: 400;
  align-self: center;
  line-height: 1;
  margin-left: 10px;
}
.company-column{
  display: flex;
  flex-wrap: wrap;

  &:not(last-child){
    margin-bottom: 35px;
  }
  &:nth-child(even){
    align-self: center;
  }
  @include maq('tablet') {
    &:nth-child(even){
      align-self: flex-end;
    }
  }
}
.company-column__vertical{
  transform: rotate(-90deg);
  align-self: center;
  margin-top: 15px;
}
.company-content{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.company-content-img{
    img{
      width: 100%;
    }
}
@media only screen and (max-width:767px) {
  .company-content {
    order: 2;
  }
  .company-content-img {
    order: 1;
  }
}