.sec-design {
  padding: 60px 0;

}

.design-title {
  margin-bottom: 60px;
}

.body-design {
  display: flex;
  width: 100%;

  @media only screen and (max-width:767px) {
    flex-wrap: wrap;
  }
}

.design-item {
  color: $color2;
  height: 300px;
  justify-content: center;
  width: 100%;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
background-position: center center;
  margin-bottom: 10px;
  @include mq('tablet-wide') {
    width: 33.333%;
    height: 900px;
    &:nth-child(2) {
      margin: 0 3px;
    }
  }


}

.design-item__content {
  align-self: center;
  text-align: center;

  img {
    margin: 0 auto 25px;
    display: block;
  }

  .design-item__name {
    @include adaptiv-font(24, 18);
    font-weight: 500;
  }
}
