.sec-forma-button{
  padding: 230px 0 ;
  background: center right;
  background-repeat: no-repeat;
  background-size: 50%;
  @include maq('tablet-990') {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 59% 85%;
    padding: 50px 0 420px;
  }
  p{
    margin-bottom: 50px;
  }
}
.wrapper-feedback__input{
  margin-bottom: 40px;
  width: 100%;
}
.feedback-input{
  width: 100%;
  padding:0 0 10px 0;
  border-bottom: 1px solid $color1;
  background: none;
}
.feedback__button{
  margin-left: auto;
}
