.sec-portfolio{
  padding: 60px 0 120px;
  @media only screen and (max-width:767px) {
    padding: 50px 0 50px;
  }
}
.portfolioArrow{
  border-radius: 50%;
  background: $color2;
  width: 46px;
  height: 46px;
}
.portfolio-container {
  width: 100%;
  height: 100%;
}
.portfolio-description{
  padding-right: 0;
}

.portfolio-description__ul{

  position: relative;
  &:after{
    content: '';
    position: absolute;
    width: 1px;
    height: calc(100% - 10px );
    background: $color4;
    top: 0;
    left: 5px;
    z-index: -1;
    @media only screen and (max-width:767px) {
      height: calc(100% - 30px );;
    }
  }

  li{
    position: relative;
    padding-left: 20px;

    &:after{
      content: '';
      position: absolute;
      width: 11px;
      height: 11px;
      background: $color3;
      top: 0;
      left: 0px;
    }

    color: $color3;
    margin-bottom: 20px;
    @include adaptiv-font(18, 18);

    span{
      color: $color1;
    }
  }
}
.portfolio-description__title{
  @include adaptiv-font(23, 18);
  margin-bottom: 20px;
}
.portfolio-description__data{
  display: flex;
  flex-wrap: wrap;
  width: 380px;
}
.portfolio-description__item{
  width: 140px;
  p{
    line-height: 1.5;
    @include adaptiv-font(18, 16);
  }
  span{
    @include adaptiv-font(42, 36);
    line-height: .8;
    font-weight: 500;
    margin-right: 10px;
  }
}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
  content: none;
}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  content: none;
}
.portfolio-button-next, .swiper-container-rtl .portfolio-button-prev {
  right: 27px;
}
.portfolio-button-prev, .swiper-container-rtl .portfolio-button-next {
  left: 27px;

}
.portfolioArrow{
  top: 55%;
}
.portfolio-row{
  &:not(:last-child){
    margin-bottom: 120px;
  }
}
.portfolio-slide{
  background-size: cover;
}

@media only screen and (max-width:767px) {
  .portfolio-description__data{
    width: 280px;
  }
  .portfolio-row{
    &:not(:last-child){
      margin-bottom: 50px;
    }
  }
  .height-sl{
      height: 280px;
    margin-bottom: 15px;
  }
  .row.portfolio-row:nth-child(2){
    .col-md-5{
      order:2 ;
    }
    .col-md-7{
      order: 1;
    }
  }
}