section.sec-advantages
    .container
        .row
            .col-12
                .title.advantages-title Преимущества открытия дизайн студии по франшизе

            .advantages-row
                .col-12.col-md-6.advantages-row__left
                    .advantages-row__text
                        h2 Обучение
                        ul
                            li
                                p Весь наш опыт, упакованный в уникальную электронную <span> базу знаний </span>  в личном кабинете
                            li
                                p <span>Полное погружение</span> в сферу дизайна по 7 темам
                        br
                        br
                        h2 Постоянная поддержка управляющей компании
                        ul
                            li
                                p Закрепление выделенного специалиста/куратора, который на <span>связи 24/7</span>
                            li
                                p Помощь в <span>подборе команды:</span> дизайнеры прорабы, комплектаторы, руководители проектов


                .col-12.col-md-6.advantages-row__right
                                    img(src="img/MacBook-Pro-mockup.png")

            .advantages-row
                .col-12.col-md-6.advantages-row__left
                    .advantages-row__text
                        h2 Обучение
                        ul
                            li
                                p Весь наш опыт, упакованный в уникальную электронную <span> базу знаний </span>  в личном кабинете
                            li
                                p <span>Полное погружение</span> в сферу дизайна по 7 темам
                        br
                        br
                        h2 Постоянная поддержка управляющей компании
                        ul
                            li
                                p Закрепление выделенного специалиста/куратора, который на <span>связи 24/7</span>
                            li
                                p Помощь в <span>подборе команды:</span> дизайнеры прорабы, комплектаторы, руководители проектов


                .col-12.col-md-6.advantages-row__right
                    img(src="img/22.png")

            .advantages-row
                .col-12.col-md-6.advantages-row__left
                    .advantages-row__text
                        h2 Обучение
                        ul
                            li
                                p Весь наш опыт, упакованный в уникальную электронную <span> базу знаний </span>  в личном кабинете
                            li
                                p <span>Полное погружение</span> в сферу дизайна по 7 темам
                        br
                        br
                        h2 Постоянная поддержка управляющей компании
                        ul
                            li
                                p Закрепление выделенного специалиста/куратора, который на <span>связи 24/7</span>
                            li
                                p Помощь в <span>подборе команды:</span> дизайнеры прорабы, комплектаторы, руководители проектов


                .col-12.col-md-6.advantages-row__right
                    img(src="img/33.png")