section.sec-business(style="background-image: url('img/margo.png');")
    .container
        .row
            .businessTitle.title  Почему стоит начать бизнес по франшизе именно с нами?
            .businessSubTitle Brick to brick – сеть №1 в России в формате all-inclusive

            .wraper-businessItems
                .businessItem
                    .businessItem__Title
                        .businessItemTitle-ic
                            img(src='img/lightning-ic.svg')
                        .businessItemTitle-text Быстрый запуск
                    ul.businessItem__ul
                        li
                            span Первая прибыль через 31 день
                        li
                            span Продажа первого проекта через 2 недели
                        li
                            span Окупаемость — 3 клиента


                .businessItem
                    .businessItem__Title
                        .businessItemTitle-ic
                            img(src='img/many.svg')
                        .businessItemTitle-text Прибыльный продукт
                    ul.businessItem__ul
                        li
                            span Стабильно работающий бизнес в кризис
                        li
                            span Свободная ниша в ближайшие 2 года
                        li
                            span Каждый год в России строится более 1 млн. квартир

                .businessItem
                    .businessItem__Title
                        .businessItemTitle-ic
                            img(src='img/bulb.svg')
                        .businessItemTitle-text Не требуется опыт
                    ul.businessItem__ul
                        li
                            span Полная программа обучения
                        li
                            span Все процессы автоматизированы и настроены
                        li
                            span Поддержка центрального офиса 24/7






