section.sec-company
    .container
        .row
            .col-12
                .title.company-title Компания в цифрах

            .col-12.col-md-6.company-content
                .company-column
                    .company-column__bold  10
                    .company-column__text лет работы в сфере <br> строительства

                .company-column
                    .company-column__bold  5
                    .company-column__text лет работы в дизайне <br>  интерьеров

                .company-column
                    .company-column__vertical более
                    .company-column__bold  300
                    .company-column__text проектов <br>  реализовано

                .company-column
                    .company-column__bold  10
                    .company-column__text партнеров <br>  по франшизе

                .company-column
                    .company-column__vertical более
                    .company-column__bold  25
                    .company-column__text человек <br>  в штате


            .col-12.col-md-6
                        img(src="img/rompani.png")