section.sec-design
    .container
        .row
            .col-12
                .title.design-title Какие дизайн проекты вы будете реализовывать?
    .body-design
        .design-item(style="background-image: url('img/1.png');")
            .design-item__content
                .design-item__ic
                    img(src="img/house.svg")
                .design-item__name Жилые помещени
        .design-item(style="background-image: url('img/2.png');")
            .design-item__content
                .design-item__ic
                    img(src="img/shop.svg")
                .design-item__name Коммерческие помещения
        .design-item(style="background-image: url('img/3.png');")
            .design-item__content
                .design-item__ic
                    img(src="img/building.svg")
                .design-item__name Общественные помещения