section.sec-first-screen(style="background-image: url('img/br-bg.svg');")
    .container
        .row
            .content-left
                .first-screen-titleImg
                    img(src="img/brick-blue-logo.svg")
                .first-screen-p Международная сеть студий дизайна и ремонта
                .specifications
                    .specifications-item
                        p Начните зарабатывать от

                        .bold 200 000
                        p в месяц на дизайне интерьера

                    .specifications-item.specifications-itemMargim
                        p Самый быстрый запуск студии

                        .bold 21
                        p день

                    .specifications-item
                        p Окупаемость франшизы

                        .bold 1
                        p дизайн проект

                    .button.specificationsButton УЗНАТЬ УСЛОВИЯ ФРАНШИЗЫ
            .content-right
                img(src="img/chair.png")

            .title.first-screenTitle Наши преимущества перед другими франшизами

            .first-screenItems

                .column-advantages
                    .column-advantagesIc
                        img(src="img/choice-ic.svg")
                    .column-advantagesText Помощь в выборе недвижимости

                .column-advantages
                    .column-advantagesIc
                        img(src="img/design-ic.svg")
                    .column-advantagesText Дизайн интерьера

                .column-advantages
                    .column-advantagesIc
                        img(src="img/kit-ic.svg")
                    .column-advantagesText Комплектация от проверенных поставщиков

                .column-advantages
                    .column-advantagesIc
                        img(src="img/repair-ic.svg")
                    .column-advantagesText Ремонт собственными бригадами

                .column-advantages
                    .column-advantagesIc
                        img(src="img/supervision-ic.svg")
                    .column-advantagesText Авторский надзор и сопровождение проекта




