section.footer
    .container
        .body-footer
            .footer-logo
                img(src='img/footer-logo-white.svg')
            .footer-address
                p Краснодар

            .footer-phone
                a(href="+7 (918) 888-88-42") +7 (918) 888-88-42
            .footer-email
                a(href="rtrte@rtet.ru") rtrte@rtet.ru
            .footer-soc
                a(href="#")
                    img(src='img/icon-instagram.svg')
            .footer-copor
                p Brick to brick © 2020

            .footer-lab
                img(src='')