section.sec-forma-button(style="background-image: url('img/sofa.png');")
    .container
        .row
            .col-12.col-md-6
                .title.forma-button-title Оставьте заявку на презентацию
                p Получите больше информации по финансовой модели франшизы.
                forma.body-feedback
                    .wrapper-feedback__input
                        input.feedback-input(placeholder="Ваш город")
                    .wrapper-feedback__input
                        input.feedback-input(placeholder="Ваше имя")
                    .wrapper-feedback__input
                        input.feedback-input(placeholder="Ваш телефон")
                    .wrapper-feedback__input
                        input.feedback-input(placeholder="Ваш e-mail")
                    .pol Нажав на кнопку, я даю согласие на <a>обработку персональных данных</a>
                    .button.feedback__button ОТПРАВИТЬ
