section.sec-mission(style="background-image: url('img/tipandchailds.png');")
    .container
        .row
            .col-12
                .title.mission-title Наша миссия
            .col-12.col-md-8
                p Уже много лет выполняем свою миссию — создаем уникальные интерьеры в современной стилистике, в которых комфортно жить и работать.
            .col-12.col-md-8
                .p-turquoise Забираем на себя сложный процесс ремонта, чтобы сделать его приятным для клиента.
