section.sec-partner
    .u(style="background-image: url('img/withe-br-bg.svg');")
    .container
        .row
            .title.partnerTitle Хочу стать партнером
            form.partnerForm
                .wrapper-partnerForm__input
                    input.partnerForm__input(placeholder="Ваш город")
                .wrapper-partnerForm__input
                    input.partnerForm__input(placeholder="Ваш телефон")
                .wrapper-partnerForm__input
                    input.partnerForm__input(placeholder="Ваше имя")
                .wrapper-partnerForm__input
                    input.partnerForm__input(placeholder="Ваш e-mail")
                .pol Нажав на кнопку, я даю согласие на <a href="#">обработку персональных данных</a>
                .button.partnerBtn ОТПРАВИТЬ