section.sec-portfolio
    .container
        .row.portfolio-row
            .col-12.col-md-7
                .swiper-container.portfolio-container
                    .swiper-wrapper.portfolio-wrapper
                        .swiper-slide.portfolio-slide(style="background-image: url('img/sl-1.png');")
                        .swiper-slide.portfolio-slide(style="background-image: url('img/sl-2.png');")

                .portfolioArrow.portfolio-button-next.swiper-button-next
                    <svg width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M23.725 5.33639C23.7248 5.3361 23.7245 5.33578 23.7242 5.33549L18.8256 0.460497C18.4586 0.0952939 17.865 0.0966529 17.4997 0.463684C17.1345 0.830668 17.1359 1.42425 17.5028 1.7895L20.7918 5.06249H0.9375C0.419719 5.06249 0 5.48221 0 5.99999C0 6.51778 0.419719 6.93749 0.9375 6.93749H20.7917L17.5029 10.2105C17.1359 10.5757 17.1345 11.1693 17.4998 11.5363C17.865 11.9034 18.4587 11.9046 18.8256 11.5395L23.7242 6.66449C23.7245 6.66421 23.7248 6.66389 23.7251 6.6636C24.0923 6.29714 24.0911 5.70164 23.725 5.33639Z" fill="#0EBAB9"/>
                    </svg>
                .portfolioArrow.portfolio-button-prev.swiper-button-prev
                    <svg width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.274969 5.33639C0.275249 5.3361 0.275484 5.33578 0.275812 5.33549L5.17444 0.460497C5.54142 0.0952939 6.135 0.0966529 6.5003 0.463684C6.86555 0.830668 6.86414 1.42425 6.49716 1.7895L3.20822 5.06249H23.0625C23.5803 5.06249 24 5.48221 24 5.99999C24 6.51778 23.5803 6.93749 23.0625 6.93749H3.20827L6.49711 10.2105C6.86409 10.5757 6.8655 11.1693 6.50025 11.5363C6.13495 11.9034 5.54133 11.9046 5.17439 11.5395L0.275764 6.66449C0.275484 6.66421 0.275249 6.66389 0.274921 6.6636C-0.0922508 6.29714 -0.0910778 5.70164 0.274969 5.33639Z" fill="#0EBAB9"/>
                    </svg>

            .col-12.col-md-5.portfolio-description

                    .portfolio-description__title Просторный пентхаус с террасой
                    .portfolio-description__data
                        .portfolio-description__item
                            p <span>151</span> м2 <br> Площадь дома
                        .portfolio-description__item
                            p <span>3</span> месяца <br> Разработка проекта
                    .portfolio-description__title Перед нашей командой стояло несколько задач:
                    ul.portfolio-description__ul
                        li
                            span Объединить кухню с гостиной.
                        li
                            span Разместить спальню так, чтобы она находилась далеко
                                 | от детских комнат.
                        li
                            span При двух детских должна быть ванная.
                        li
                            span Также заказчики просили уделить особое внимание террасе.
        .row.portfolio-row
            .col-12.col-md-5.portfolio-description

                .portfolio-description__title Просторный пентхаус с террасой
                .portfolio-description__data
                    .portfolio-description__item
                        p <span>151</span> м2 <br> Площадь дома
                    .portfolio-description__item
                        p <span>3</span> месяца <br> Разработка проекта
                .portfolio-description__title Перед нашей командой стояло несколько задач:
                ul.portfolio-description__ul
                    li
                        span Объединить кухню с гостиной.
                    li
                        span Разместить спальню так, чтобы она находилась далеко
                            | от детских комнат.
                    li
                        span При двух детских должна быть ванная.
                    li
                        span Также заказчики просили уделить особое внимание террасе.
            .col-12.col-md-7
                .swiper-container.portfolio-container
                    .swiper-wrapper.portfolio-wrapper
                        .swiper-slide.portfolio-slide(style="background-image: url('img/sl-1.png');")
                        .swiper-slide.portfolio-slide(style="background-image: url('img/sl-2.png');")

                .portfolioArrow.portfolio-button-next.swiper-button-next
                    <svg width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M23.725 5.33639C23.7248 5.3361 23.7245 5.33578 23.7242 5.33549L18.8256 0.460497C18.4586 0.0952939 17.865 0.0966529 17.4997 0.463684C17.1345 0.830668 17.1359 1.42425 17.5028 1.7895L20.7918 5.06249H0.9375C0.419719 5.06249 0 5.48221 0 5.99999C0 6.51778 0.419719 6.93749 0.9375 6.93749H20.7917L17.5029 10.2105C17.1359 10.5757 17.1345 11.1693 17.4998 11.5363C17.865 11.9034 18.4587 11.9046 18.8256 11.5395L23.7242 6.66449C23.7245 6.66421 23.7248 6.66389 23.7251 6.6636C24.0923 6.29714 24.0911 5.70164 23.725 5.33639Z" fill="#0EBAB9"/>
                    </svg>
                .portfolioArrow.portfolio-button-prev.swiper-button-prev
                    <svg width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.274969 5.33639C0.275249 5.3361 0.275484 5.33578 0.275812 5.33549L5.17444 0.460497C5.54142 0.0952939 6.135 0.0966529 6.5003 0.463684C6.86555 0.830668 6.86414 1.42425 6.49716 1.7895L3.20822 5.06249H23.0625C23.5803 5.06249 24 5.48221 24 5.99999C24 6.51778 23.5803 6.93749 23.0625 6.93749H3.20827L6.49711 10.2105C6.86409 10.5757 6.8655 11.1693 6.50025 11.5363C6.13495 11.9034 5.54133 11.9046 5.17439 11.5395L0.275764 6.66449C0.275484 6.66421 0.275249 6.66389 0.274921 6.6636C-0.0922508 6.29714 -0.0910778 5.70164 0.274969 5.33639Z" fill="#0EBAB9"/>
                    </svg>

        .row.portfolio-row
            .col-12.col-md-7
                .swiper-container.portfolio-container
                    .swiper-wrapper.portfolio-wrapper
                        .swiper-slide.portfolio-slide(style="background-image: url('img/sl-1.png');")
                        .swiper-slide.portfolio-slide(style="background-image: url('img/sl-2.png');")

                .portfolioArrow.portfolio-button-next.swiper-button-next
                    <svg width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M23.725 5.33639C23.7248 5.3361 23.7245 5.33578 23.7242 5.33549L18.8256 0.460497C18.4586 0.0952939 17.865 0.0966529 17.4997 0.463684C17.1345 0.830668 17.1359 1.42425 17.5028 1.7895L20.7918 5.06249H0.9375C0.419719 5.06249 0 5.48221 0 5.99999C0 6.51778 0.419719 6.93749 0.9375 6.93749H20.7917L17.5029 10.2105C17.1359 10.5757 17.1345 11.1693 17.4998 11.5363C17.865 11.9034 18.4587 11.9046 18.8256 11.5395L23.7242 6.66449C23.7245 6.66421 23.7248 6.66389 23.7251 6.6636C24.0923 6.29714 24.0911 5.70164 23.725 5.33639Z" fill="#0EBAB9"/>
                    </svg>
                .portfolioArrow.portfolio-button-prev.swiper-button-prev
                    <svg width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.274969 5.33639C0.275249 5.3361 0.275484 5.33578 0.275812 5.33549L5.17444 0.460497C5.54142 0.0952939 6.135 0.0966529 6.5003 0.463684C6.86555 0.830668 6.86414 1.42425 6.49716 1.7895L3.20822 5.06249H23.0625C23.5803 5.06249 24 5.48221 24 5.99999C24 6.51778 23.5803 6.93749 23.0625 6.93749H3.20827L6.49711 10.2105C6.86409 10.5757 6.8655 11.1693 6.50025 11.5363C6.13495 11.9034 5.54133 11.9046 5.17439 11.5395L0.275764 6.66449C0.275484 6.66421 0.275249 6.66389 0.274921 6.6636C-0.0922508 6.29714 -0.0910778 5.70164 0.274969 5.33639Z" fill="#0EBAB9"/>
                    </svg>

            .col-12.col-md-5.portfolio-description

                    .portfolio-description__title Просторный пентхаус с террасой
                    .portfolio-description__data
                        .portfolio-description__item
                            p <span>151</span> м2 <br> Площадь дома
                        .portfolio-description__item
                            p <span>3</span> месяца <br> Разработка проекта
                    .portfolio-description__title Перед нашей командой стояло несколько задач:
                    ul.portfolio-description__ul
                        li
                            span Объединить кухню с гостиной.
                        li
                            span Разместить спальню так, чтобы она находилась далеко
                                 | от детских комнат.
                        li
                            span При двух детских должна быть ванная.
                        li
                            span Также заказчики просили уделить особое внимание террасе.