section.sec-purposes
    img(src="img/alina.png").fon
    .container
        .row
            .col-12.col-md-6
                .title.purposes-title Наши цели
                .alin-fon
                    img(src="img/alina.png").fonMob
                .purposes-description
                    p Одна из стратегически важных целей на данный момент для компании Brick to brick чтобы
                    span Каждый кто когда-либо сталкивался с ремонтом и дизайном интерьеров в итоге сказал: с Брик ту брик это сделать действительно просто и качественно.
                         |Brick to Brick это сделать действительно просто
                         |и качественно.
                    p Для этого центральный офис ежедневно помогает нашим партнерам в регионах как можно быстрее занять нишу дизайна и ремонта в своем городе, построить команду профессионалов, чтобы реализовывать достойные, качественные проекты.
                    p Нашей приоритетной задачей, над которой активно работает вся команда - является масштабирование компании не только в регионы РФ, но и в другие страны.
                    span    Мы хотим чтобы качество нашей работы стало доступно в каждом регионе любой страны.


            .purposes-director Директор по франчайзингу международной сети <br>
                                    |дизайн студий и ремонта Brick to brick