section.sec-rates
    .container
        .row
            .col-12
                .rates-title.title Тарифы на франшизу Brick to brick
            .package
                .col-12
                    .rates-second-title Тарифы Россия

                .body-rates-items
                    .col-12.col-md-3.mb
                        .rates-item
                            img.bg-br(src="img/logo-br.svg")
                            .rates-item__title City
                            .rates-item__text
                                ul
                                    li Город до 500 тыс. человек
                                    li Срок договора 2 года

                            .title-price Стоимость
                            .price 350 000 <span>руб.</span>
                            .button.rates-btn  УЗНАТЬ ПОДРОБНЕЕ
                    .col-12.col-md-3.mb
                        .rates-item
                            img.bg-br(src="img/logo-br.svg")
                            .rates-item__title Urban
                            .rates-item__text
                                ul
                                    li Город от 500 тыс. до 1 млн. человек
                                    li Срок договора 3 года

                            .title-price Стоимость
                            .price 450 000 <span>руб.</span>
                            .button.rates-btn  УЗНАТЬ ПОДРОБНЕЕ
                    .col-12.col-md-3.mb
                        .rates-item
                            img.bg-br(src="img/logo-br.svg")
                            .rates-item__title Megapolic
                            .rates-item__text
                                ul
                                    li Город от 1 млн. человек
                                    li Срок договора 4 года

                            .title-price Стоимость
                            .price 500 000 <span>руб.</span>
                            .button.rates-btn  УЗНАТЬ ПОДРОБНЕЕ
                    .col-12.col-md-3.mb
                        .rates-item
                            img.bg-br(src="img/logo-br.svg")
                            .rates-item__title Moscow  city
                            .rates-item__text
                                ul
                                    li Город от 5 млн. человек
                                    li Срок договора 4 года

                            .title-price Стоимость
                            .price 750 000 <span>руб.</span>
                            .button.rates-btn  УЗНАТЬ ПОДРОБНЕЕ



                .body-rates-itemsMobile
                    .swiper-container.rates-container
                        .swiper-wrapper.rates-wrapper
                            .swiper-slide.rates-slide
                                .rates-item
                                    img.bg-br(src="img/logo-br.svg")
                                    .rates-item__title City
                                    .rates-item__text
                                        ul
                                            li Город до 500 тыс. человек
                                            li Срок договора 2 года

                                    .title-price Стоимость
                                    .price 350 000 <span>руб.</span>
                                    .button.rates-btn  УЗНАТЬ ПОДРОБНЕЕ



                            .swiper-slide.rates-slide
                                .rates-item
                                    img.bg-br(src="img/logo-br.svg")
                                    .rates-item__title Urban
                                    .rates-item__text
                                        ul
                                            li Город от 500 тыс. до 1 млн. человек
                                            li Срок договора 3 года

                                    .title-price Стоимость
                                    .price 450 000 <span>руб.</span>
                                    .button.rates-btn  УЗНАТЬ ПОДРОБНЕЕ
                            .swiper-slide.rates-slide
                                .rates-item
                                    img.bg-br(src="img/logo-br.svg")
                                    .rates-item__title Megapolic
                                    .rates-item__text
                                        ul
                                            li Город от 1 млн. человек
                                            li Срок договора 4 года

                                    .title-price Стоимость
                                    .price 500 000 <span>руб.</span>
                                    .button.rates-btn  УЗНАТЬ ПОДРОБНЕЕ

                            .swiper-slide.rates-slide
                                .rates-item
                                    img.bg-br(src="img/logo-br.svg")
                                    .rates-item__title Moscow  city
                                    .rates-item__text
                                        ul
                                            li Город от 5 млн. человек
                                            li Срок договора 4 года

                                    .title-price Стоимость
                                    .price 750 000 <span>руб.</span>
                                    .button.rates-btn  УЗНАТЬ ПОДРОБНЕЕ


                    .swiper-pagination.rates-pagination.business-paginationFranchis

                .col-12.bold-text Дарим до <span>100 000 р.</span>  на паушальный взнос
                .col-12.grey-text Не является публичной афертой, подробности акции уточняйте у менеджера.


            .package
                .col-12
                    .rates-second-title Тарифы для других стран

                .body-rates-items
                    .col-12.col-md-4.mb
                        .rates-item
                            img.bg-br(src="img/logo-br.svg")
                            .rates-item__title City
                            .rates-item__text
                                ul
                                    li Город до 500 тыс. человек
                                    li Срок договора 2 года

                            .title-price Стоимость
                            .price 350 000 <span>руб.</span>
                            .button.rates-btn  УЗНАТЬ ПОДРОБНЕЕ
                    .col-12.col-md-4.mb
                        .rates-item
                            img.bg-br(src="img/logo-br.svg")
                            .rates-item__title Urban
                            .rates-item__text
                                ul
                                    li Город от 500 тыс. до 1 млн. человек
                                    li Срок договора 3 года

                            .title-price Стоимость
                            .price 450 000 <span>руб.</span>
                            .button.rates-btn  УЗНАТЬ ПОДРОБНЕЕ
                    .col-12.col-md-4.mb
                        .rates-item
                            img.bg-br(src="img/logo-br.svg")
                            .rates-item__title Megapolic
                            .rates-item__text
                                ul
                                    li Город от 1 млн. человек
                                    li Срок договора 4 года

                            .title-price Стоимость
                            .price 500 000 <span>руб.</span>
                            .button.rates-btn  УЗНАТЬ ПОДРОБНЕЕ


                .body-rates-itemsMobile
                    .swiper-container.rates-container_2
                        .swiper-wrapper.rates-wrapper
                            .swiper-slide.rates-slide
                                .rates-item
                                    img.bg-br(src="img/logo-br.svg")
                                    .rates-item__title City
                                    .rates-item__text
                                        ul
                                            li Город до 500 тыс. человек
                                            li Срок договора 2 года

                                    .title-price Стоимость
                                    .price 350 000 <span>руб.</span>
                                    .button.rates-btn  УЗНАТЬ ПОДРОБНЕЕ
                            .swiper-slide.rates-slide
                                .rates-item
                                    img.bg-br(src="img/logo-br.svg")
                                    .rates-item__title Urban
                                    .rates-item__text
                                        ul
                                            li Город от 500 тыс. до 1 млн. человек
                                            li Срок договора 3 года

                                    .title-price Стоимость
                                    .price 450 000 <span>руб.</span>
                                    .button.rates-btn  УЗНАТЬ ПОДРОБНЕЕ
                            .swiper-slide.rates-slide
                                .rates-item
                                    img.bg-br(src="img/logo-br.svg")
                                    .rates-item__title Megapolic
                                    .rates-item__text
                                        ul
                                            li Город от 1 млн. человек
                                            li Срок договора 4 года

                                    .title-price Стоимость
                                    .price 500 000 <span>руб.</span>
                                    .button.rates-btn  УЗНАТЬ ПОДРОБНЕЕ

                    .swiper-pagination.rates-pagination_2.business-paginationFranchis


                .col-12.bold-text Дарим до <span>1000 $</span>  на паушальный взнос
                .col-12.grey-text Не является публичной афертой, подробности акции уточняйте у менеджера.
