section.sec-reviews
    .container
        .title.reviews-title Отзывы наших партнеров
        .wrapper-sliders
            .body-reviews-pagin
                .swiper-container.reviews-pagin-container
                    .swiper-wrapper.reviews-pagin-wrapper
                        .swiper-slide.reviews-pagin-slide
                            .reviews-slide__addressName
                                .reviews-slide__address г. Ставрополь
                                .reviews-slide__name Александр
                        .swiper-slide.reviews-pagin-slide
                            .reviews-slide__addressName
                                .reviews-slide__address г. Ставрополь
                                .reviews-slide__name Александр
                        .swiper-slide.reviews-pagin-slide
                            .reviews-slide__addressName
                                .reviews-slide__address г. Ставрополь
                                .reviews-slide__name Александр

            .body-reviews
                .swiper-container.reviews-container
                    .swiper-wrapper.reviews-wrapper
                        .swiper-slide.reviews-slide(style="background-image: url('img/cav-bg.svg');")
                            .reviews-slide__data
                                .reviews-slide__img(style="background-image: url('img/reviews-1.png')")
                                .reviews-slide__addressName
                                    .reviews-slide__address г. Ставрополь
                                    .reviews-slide__name Александр
                            .reviews-slide__description
                                p В течение последних пяти лет у меня было два бизнеса, которые я открывал сам. Столкнулся с большим количеством подводных камней, которые тормозили процесс окупаемости. Решил обратить внимание на бизнес по франшизе.
                                p Предложение Brick to Brick меня заинтересовало по нескольким причинам: сфера деятельности, в которой я давно хотел поработать, небольшая конкуренция в моём регионе, адекватная стоимость франшизы и наполненность франшизы.
                                p Перед тем как принять окончательное решение, я познакомился с командой Brick to Brick. Для меня провели краткий экскурс по рабочим моментам и дальнейшему сотрудничеству. И я понял, что смогу достичь тех целей, на которые рассчитываю.
                                p Я быстро добился планируемого результата.
                                b За 4 месяца работы с Brick To Brick я понял, что сделал правильный выбор.
                                    | Если бы работал в одиночку, столкнулся бы с многими трудностями.


                        .swiper-slide.reviews-slide(style="background-image: url('img/cav-bg.svg');")
                            .reviews-slide__data
                                .reviews-slide__img(style="background-image: url('img/reviews-1.png')")
                                .reviews-slide__addressName
                                    .reviews-slide__address г. Ставрополь
                                    .reviews-slide__name Александр
                            .reviews-slide__description
                                p В течение последних пяти лет у меня было два бизнеса, которые я открывал сам. Столкнулся с большим количеством подводных камней, которые тормозили процесс окупаемости. Решил обратить внимание на бизнес по франшизе.
                                    | Предложение Brick to Brick меня заинтересовало по нескольким причинам: сфера деятельности, в которой я давно хотел поработать, небольшая конкуренция в моём регионе, адекватная стоимость франшизы и наполненность франшизы.
                                    | Перед тем как принять окончательное решение, я познакомился с командой Brick to Brick. Для меня провели краткий экскурс по рабочим моментам и дальнейшему сотрудничеству. И я понял, что смогу достичь тех целей, на которые рассчитываю.
                                    |Я быстро добился планируемого результата.
                                b За 4 месяца работы с Brick To Brick я понял, что сделал правильный выбор.
                                    | Если бы работал в одиночку, столкнулся бы с многими трудностями.


                        .swiper-slide.reviews-slide(style="background-image: url('img/cav-bg.svg');")
                            .reviews-slide__data
                                .reviews-slide__img(style="background-image: url('img/reviews-1.png')")
                                .reviews-slide__addressName
                                    .reviews-slide__address г. Ставрополь
                                    .reviews-slide__name Александр
                            .reviews-slide__description
                                p В течение последних пяти лет у меня было два бизнеса, которые я открывал сам. Столкнулся с большим количеством подводных камней, которые тормозили процесс окупаемости. Решил обратить внимание на бизнес по франшизе.
                                    | Предложение Brick to Brick меня заинтересовало по нескольким причинам: сфера деятельности, в которой я давно хотел поработать, небольшая конкуренция в моём регионе, адекватная стоимость франшизы и наполненность франшизы.
                                    | Перед тем как принять окончательное решение, я познакомился с командой Brick to Brick. Для меня провели краткий экскурс по рабочим моментам и дальнейшему сотрудничеству. И я понял, что смогу достичь тех целей, на которые рассчитываю.
                                    |Я быстро добился планируемого результата.
                                b За 4 месяца работы с Brick To Brick я понял, что сделал правильный выбор.
                                    | Если бы работал в одиночку, столкнулся бы с многими трудностями.


                .wrapper-nav
                    .reviews-button-prev
                        <svg width="40" height="20" viewBox="0 0 40 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.458282 8.89398C0.458752 8.89351 0.459141 8.89296 0.459686 8.89249L8.62406 0.767495C9.2357 0.158823 10.225 0.161088 10.8338 0.772807C11.4426 1.38445 11.4402 2.37374 10.8286 2.98249L5.34703 8.43749H38.4375C39.3005 8.43749 40 9.13702 40 9.99999C40 10.863 39.3005 11.5625 38.4375 11.5625H5.34711L10.8285 17.0175C11.4402 17.6262 11.4425 18.6155 10.8337 19.2272C10.2249 19.839 9.23555 19.8411 8.62398 19.2325L0.45961 11.1075C0.459141 11.107 0.458748 11.1065 0.458202 11.106C-0.153751 10.4952 -0.151798 9.50272 0.458282 8.89398Z" fill="#0EBAB9"/>
                        </svg>
                    .reviews-button-next
                        <svg width="40" height="20" viewBox="0 0 40 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M39.5417 8.89398C39.5412 8.89351 39.5409 8.89296 39.5403 8.89249L31.3759 0.767495C30.7643 0.158823 29.775 0.161088 29.1662 0.772807C28.5574 1.38445 28.5598 2.37374 29.1714 2.98249L34.653 8.43749H1.5625C0.699531 8.43749 0 9.13702 0 9.99999C0 10.863 0.699531 11.5625 1.5625 11.5625H34.6529L29.1715 17.0175C28.5598 17.6262 28.5575 18.6155 29.1663 19.2272C29.7751 19.839 30.7645 19.8411 31.376 19.2325L39.5404 11.1075C39.5409 11.107 39.5413 11.1065 39.5418 11.106C40.1538 10.4952 40.1518 9.50272 39.5417 8.89398Z" fill="#0EBAB9"/>
                        </svg>
